.nav {
  display: flex;
  justify-content: center;
  padding: var(--l);
  color: white;
  background-color: black;
}

.introduction {
  display: flex;
  padding: var(--l);
  justify-content: center;
}

.image {
  display: flex;
  margin-right: var(--m);
  border-radius: 100%;
}

.grid {
  display: grid;
  grid-template-columns: minmax(100px, 3fr);
  grid-template-rows: minmax(100px, 3fr);
}

.firstname {
  color: black;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

.block {
  position: relative;
}

.title-block,
.subtitle-block {
  position: absolute;
  height: 100%;
}

.title-block {
  width: 0%;
  background: #ffb510;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}

.subtitle-block {
  width: 0%;
  background: purple;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
}

.paragraph {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  letter-spacing: 10px;
  opacity: 0;
}

.summary {
  animation: secFadeIn 3s forwards;
  animation-delay: 4.5s;
  opacity: 0;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
